.app
  h1 Reminders
  .form
    input.label-input.form-control(placeholder="description required")
    div.input-append.bootstrap-timepicker
      input.timepicker.input-small
      span.add-on
        i.icon-time
    button.btn.btn-primary.btn-large.submit Submit
  ul.reminder-list
