* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
}
.app ul {
  padding-left: 0;
}
.app li {
  padding: 10px;
  font-size: 24px;
  background: rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.4);
  list-style-type: none;
  margin: 10px 0;
}
.reminder-item {
  opacity: 0.8;
}
.reminder-item:hover {
  opacity: 1;
}
.reminder-item .icon-remove {
  float: right;
  cursor: pointer;
}
.reminder-item-time {
  margin-right: 10px;
  opacity: 0.8;
  font-size: 80%;
}
